.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border: 3px solid rgb(168, 168, 168);
  border-radius: 10px;
  background-image: linear-gradient(rgb(0, 195, 255), rgb(67, 247, 142));
}

button {
  width: 150px;
  height: 50px;
  font-size: 25px;
  border-radius: 45px;
  border: none;
  background-image: linear-gradient(rgb(13, 236, 218), rgb(122, 66, 168));
}

button:hover:enabled,
button:focus:enabled {
  background-color: rgb(90, 13, 153);
  color: white;
  box-shadow: 0px 8px 10px 5px rgba(0, 0, 0, 0.349);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transform: translateY(-3px);
}

button:active:enabled {
  transform: translateY(3px);
  color: rgb(71, 71, 71);
  box-shadow: none;
}

button:not(:last-child) {
  margin-right: 30px;
}
